/* -------------------- STATUS BAR INFO BADGES -------------------- */

.lists span.task-info {
    display: inline-flex;
    align-items: center;
    background-color: #dddddd;
    padding: 0.1rem 0.4rem;
    margin-right: 0.5rem;
    border-radius: 0.375rem;
    cursor: default;
}

.lists #upcoming-list span.task-info {
    margin-right: 0rem;
}

/* Example style overrides for info types */
.lists .status-bar .priority-low {
    background-color: #dddddd;
}

.lists .status-bar .priority-medium {
    background-color: #adff2f;
}

.lists .status-bar .priority-high {
    background-color: #1e90ff;
    color: #ffffff;
}

.lists .status-bar .priority-very-high {
    background-color: #ff4500;
    color: #ffffff;
}
